# Do not expose your credentials to the client, when using the Video SDK in production please make sure to use a backend service to sign the tokens. Don't store credentials in plain text, as this is a sample app we're using an `.env` for sake of simplicity.

# # Your Zoom SDK Key (required)
# ZOOM_VIDEO_SDK_KEY=

# # Your Zoom SDK Secret (required)
# ZOOM_VIDEO_SDK_SECRET=

# # Your Zoom Webhook Secret Token
# ZOOM_SECRET_TOKEN=


# Deploying to a backend server and sharing the auth url for token generation is the preferred method of secure testing with this sample app.
# You can quickly deploy the server included in this app to Render here: https://github.com/zoom/zoom-rtms-sentiment-sample/blob/main/readme.md#:~:text=Launch%20the%20Auth%20Server%20by%20clicking%20below
VITE_AUTH_URL=
